In [1]:
import pandas as pd

In [2]:
# carregando os arquivos
r_cols = ['user_id', 'movie_id','rating'] # nomes das colunas de avaliações
ratings = pd.read_csv('u.data', sep= '\t',names = r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('u.item', sep = '|', names = m_cols, usecols = range(2), encoding= "ISO-8859-1")
ratings = pd.merge(movies, ratings) # unificando os dois dataframes

In [4]:
userRatings = ratings.pivot_table(index=['user_id'], columns = ['title'], values = 'rating')
userRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
corrMatrix =  userRatings.corr()
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,-4.875600e-17,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,1.443376e-01,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,4.753271e-01,NaN,NaN,NaN

In [11]:
corrMatrix = userRatings.corr(method = 'pearson',min_periods = 100)#descartando entradas om menos de 100 valiações
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
myRatings = userRatings.loc[0].dropna()
myRatings

title
Empire Strikes Back, The (1980)    5.0
Gone with the Wind (1939)          1.0
Star Wars (1977)                   5.0
Name: 0, dtype: float64

In [18]:
simCandidates = pd.Series() 

# somar filmes similares aos classificados 
for i in range(0, len(myRatings.index)):
    print('Adding sims for ' + str(myRatings.index[i]) + '...')
    sims = corrMatrix[myRatings.index[i]].dropna()
    sims = sims.map(lambda x: x * myRatings[1])
    simCandidates = simCandidates._append(sims)

print('Sorting...')
# ordenando 
simCandidates.sort_values(inplace=True, ascending=False)
print(simCandidates.head(10))

Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Star Wars (1977)...
Sorting...
Empire Strikes Back, The (1980)    1.000000
Star Wars (1977)                   1.000000
Gone with the Wind (1939)          1.000000
Star Wars (1977)                   0.748353
Empire Strikes Back, The (1980)    0.748353
Return of the Jedi (1983)          0.721229
Return of the Jedi (1983)          0.672556
Raiders of the Lost Ark (1981)     0.538659
Raiders of the Lost Ark (1981)     0.536117
Wizard of Oz, The (1939)           0.430219
dtype: float64

/tmp/ipykernel_6931/3905288874.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sims = sims.map(lambda x: x * myRatings[1])
/tmp/ipykernel_6931/3905288874.py:8: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  simCandidates = simCandidates._append(sims)
/tmp/ipykernel_6931/3905288874.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sims = sims.map(lambda x: x * myRatings[1])
/tmp/ipykernel_6931/3905288874.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sims = sims.map(lambda x: x * myRatings[1])

In [19]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [23]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(15)

Empire Strikes Back, The (1980)              1.884040
Star Wars (1977)                             1.877560
Return of the Jedi (1983)                    1.603032
Gone with the Wind (1939)                    1.264895
Raiders of the Lost Ark (1981)               1.220594
Wizard of Oz, The (1939)                     0.984229
E.T. the Extra-Terrestrial (1982)            0.883620
Back to the Future (1985)                    0.877443
Indiana Jones and the Last Crusade (1989)    0.834655
Casablanca (1942)                            0.809604
Field of Dreams (1989)                       0.767504
Sting, The (1973)                            0.762141
It's a Wonderful Life (1946)                 0.751772
Lion King, The (1994)                        0.711759
Jaws (1975)                                  0.694473
dtype: float64

In [24]:
simCandidates.head(25)

Empire Strikes Back, The (1980)              1.884040
Star Wars (1977)                             1.877560
Return of the Jedi (1983)                    1.603032
Gone with the Wind (1939)                    1.264895
Raiders of the Lost Ark (1981)               1.220594
Wizard of Oz, The (1939)                     0.984229
E.T. the Extra-Terrestrial (1982)            0.883620
Back to the Future (1985)                    0.877443
Indiana Jones and the Last Crusade (1989)    0.834655
Casablanca (1942)                            0.809604
Field of Dreams (1989)                       0.767504
Sting, The (1973)                            0.762141
It's a Wonderful Life (1946)                 0.751772
Lion King, The (1994)                        0.711759
Jaws (1975)                                  0.694473
Terminator 2: Judgment Day (1991)            0.674346
Bridge on the River Kwai, The (1957)         0.673323
Amadeus (1984)                               0.663240
Cinderella (1950)                            0.649082
M*A*S*H (1970)                               0.630714
Toy Story (1995)                             0.612116
Terminator, The (1984)                       0.609026
Aliens (1986)                                0.603177
Independence Day (ID4) (1996)                0.600138
Dumbo (1941)                                 0.596329
dtype: float64